
*{
    margin                  : 0px;
}
html{
    scroll-behavior         : smooth;
}
#container{
    width                   :100%;
    
}
/* Style the links inside the sidenav */
#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    left: -100px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: black; /* White text color */
    border-radius: 0 10px 10px 0; /* Rounded corners on the top right and bottom right side */
    border: 1px solid black;
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a background */
#home {
    top: 20px;
    background-color : white;
}
#hcs {
    top: 80px;
    background-color : #F6F9F8;
}

#git {
    top: 140px;
    background-color        : #D9F2F7;
}

#javaS {
    top: 200px;
    background-color        : #FFF1A3;
}

#java {
    top: 260px;
    background-color        : #F0FAFA;
}
#python {
    top: 320px;
    background-color        : #4281AA;
}
#about {
    top                     : 380px;
    background-color        : gray;
}

/* 
======================================
   this is the Home page
======================================
*/
#H{
    /* background-image        : url() */
    
    /* background-color        : black; */
    width                   :100%;
    height                  :1200px;
    background-size         :cover;  
}

/* 
======================================
   this is the Html&Css html page
======================================
*/
#HC{
    background-color: #F6f9f8;
    /* background-image        : linear-gradient(to bottom, #F6F9F8, #D9F2F7); */
    /* background-image        : linear-gradient (to bottom, #F6F9F8, #D9F2F7); */
    width                   : 100%;
    height                  : 1200px;
    /* background-size         : cover;   */
    font-size: 1.25em;
    padding: 30px;
    text-align: justify;
  
}

#htmlcode{
    overflow-y: scroll;
    width: 600px;
    height: 320px;
    float: left;
    margin: 20px;
    padding: 15px;
    background-color: #4281AA;
    font-size: 1.25em;
}

#css{

    width: 600px;
    height: 400px;
    float: left;

    

}
#css2{
    
    width: 600px;
    height: 400px;
    margin: 20px;
    overflow: auto;
    background-color: #4281AA;
    font-size: 1.25em;
    float: left;
    
}
.abouthtml{
    width: 600px;
    height: 400px;
    background-color: #FFF1A3;
    padding-right: 50px; 
    font-size: 1em; 
    float: left;
    
}



/*  
======================================
    this is the GitHub html page
=====================================
*/
#img{
    display                 : block;
    float                   : left;
    margin                  : 10px ;
}
.step1{
    right: 100px;
    /* margin                  : 15px; */
}
#GH{
    background-image        : linear-gradient(to bottom, #D9F2F7,#FFF1A3);
    /* background-color        : #D9F2F7; */
    width                   :100%;
    height                  :1200px;
    background-size         :cover;
    padding                 : 30px;
    font-size               : 1.25em;
    /* display                 : block;
    margin                  : px; */
}
/*
======================================
  this is the JavaScript html page
======================================
*/
#JS{
    background-image        : linear-gradient(to bottom,#FFF1A3,#F0FAFA);
    
    /* background-color        : #FFF1A3; */
    width                   :100%;
    height                  :1200px;
    background-size         :cover;  
}
/*
======================================
      this is the JAVA html page
======================================
*/
#J{
    background-image        : linear-gradient(to bottom,#F0FAFA,#4281AA);
    
    /* background-color        : #F0FAFA; */
    width                   :100%;
    height                  :1200px;
    background-size         :cover;  
}
/*
======================================
    this is the Python html page
======================================
*/
#P{
    /* background-image        : linear-gradient(to bottom, #4281AA, #F6F9F8); */
    
    background-color        : #4281AA;
    width                   :100%;
    height                  :1200px;
    background-size         :cover;  
}

/* 
======================================
   this is About us html page
======================================
*/
#AU{
    /* background-image        : linear-gradient(to bottom, #4281AA, #F6F9F8); */
    
    background-color        : gold;
    width                   :100%;
    height                  :1200px;
    background-size         :cover;  
}
